<div class="text-center">
    <div *ngIf="movie">
        <h4>{{movie.Title}}</h4>
        <img class="img-fluid" src={{movie.Poster}} />
    </div>
    <div *ngIf="!movie">
        <strong>Filme não encontrado. Por favor, tente novamente.</strong>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <input class="btn btn-danger" id="btnTryAgain" value="Trocar filme" type="submit" (click)='getAnotherMovie()' />
            <input class="btn btn-primary button-spacing" id="btnFinish" value="Terminar e Salvar" type="submit" (click)="finish()" />
            <input class="btn btn-success button-spacing" id="btnVote" value="Votar" type="submit" (click)='vote()' />
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12 text-center">
        <app-rating></app-rating>
    </div>
</div>