<div class="text-center">
    <div *ngIf="movie?.Title">
        <h4>{{movie.Title}}</h4>
        <img class="img-fluid" src={{movie.Poster}} />
    </div>
    <div *ngIf="!movie?.Title">
        <strong>Filme não encontrado. Por favor,
            <a href="/" (click)="getAnotherMovie()">tente novamente</a>.</strong>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12" matTooltip="Para habilitar, insira um email e aceite os termos.">
                <button [disabled]="!allFilled" class="btn btn-danger btn-right" id="btnTryAgain" value="Trocar filme" type="submit" (click)='getAnotherMovie()'
                    mat-raised-button>
                    Trocar filme
                </button>
            </div>
            <div class="col-md-4 col-sm-12" matTooltip="Para habilitar, insira um email e aceite os termos.">
                <button [disabled]="!allFilled" class="btn btn-primary" id="btnFinish" value="Terminar e Salvar" type="submit" (click)="finish()"
                    mat-raised-button>
                    Terminar e Salvar
                </button>
            </div>
            <div class="col-md-4 col-sm-12" matTooltip="Para habilitar, insira um email e aceite os termos.">
                <button [disabled]="!allFilled" class="btn btn-success btn-left" id="btnVote" value="Votar" type="submit" (click)='vote()' mat-raised-button>
                    Votar
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12 text-center">
        <app-rating [movieChangedChild]="movieChanged"></app-rating>
    </div>
</div>