<div class="container h-100">
    <div class="row h-100 v-100 justify-content-center align-items-center">
        <div class="card-deck mb-3 text-center col-sm-12">
            <div class="col-md-12 col-lg-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Camila Domingos</h4>
                        <h5 class="my-0 font-weight-normal">camiladomingos@id.uff.br</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Luana Uchôa</h4>
                        <h5 class="my-0 font-weight-normal">luchoa@id.uff.br</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Rômulo Ponciano</h4>
                        <h5 class="my-0 font-weight-normal">romuloponciano@id.uff.br</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>