<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="/assets/uff-logo.png" class="img fluid" />
            <br>
            <h3>TERMO DE CONSENTIMENTO LIVRE E ESCLARECIDO</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-12 text-justify">
            <p>Você está participando do estudo: Comparando Métodos de Avaliação Externa: Thumbs vs Star. Trata-se do projeto
                de pesquisa dos alunos: Camila Domingos da Silva, Luana Magalhães Uchôa e Rômulo Ponciano da Silva Freitas.
            </p>

            <h5>INTRODUÇÃO:</h5>
            <p>Esta pesquisa é parte integral de uma atividade proposta pelo profº Dr. José Viterbo Filho da disciplina de Inteligência
                Coletiva (20181), com a finalidade de capturar informações sobre os tipos de avaliação, que estão divididos
                entre avaliações estrela e avaliações positivas/negativas. O intuito desta pesquisa é responder qual desses
                tipos seria melhor utilizado em uma avaliação sobre filmes. Garantimos que suas informações não serão divulgadas
                e que não será enviado nenhum tipo de propaganda via e-mail.</p>

            <h5>PROCEDIMENTO:</h5>
            <p>Você deverá preencher o campo de email e avaliar o filme sorteado com a forma que desejar, clicando na escolha
                desejada.</p>
                <ul>
                    <li>Você poderá trocar o filme quando desejar através do botão de troca;</li>
                    <li>Você poderá parar de votar e sair do site quando desejar;</li>
                </ul>

            <h5>RISCOS E DESCONFORTOS:</h5>
            <p>Esta pesquisa não traz qualquer risco para sua saúde ou dados. Suas respostas, bem como seu email, são armazenados
                em uma base de dados provida pela Google, chamada Firebase.
                <br>O único desconforto possível é o de ficar em frente ao computador enquanto vota, porém este pode ser resolvido
                apenas saindo do site quando desejar.</p>

            <h5>BENEFÍCIOS:</h5>
            <p>Ao participar desta pesquisa não será fornecido nenhum tipo de recompensa financeira ou outros tipos de benefícios,
                nem haverá despesas decorrentes de sua participação. Entretanto, esperamos que este estudo forneça informações
                importantes sobre o tema pesquisado.</p>

            <h5>CUSTOS:</h5>
            <p>Não haverá custos para o senhor (a). Também não há compensação financeira relacionada à sua participação.</p>

            <h5>SIGILO:</h5>
            <p>As suas informações, que são sigilosas, serão analisadas junto com as informações de outros participantes. Sua
                identificação e email não serão divulgados de nenhuma forma. A avaliação dos resultados será feita somente
                pelos pesquisadores do projeto e não será permitido o acesso de outras pessoas, garantindo proteção contra
                qualquer quebra de sigilo.</p>

            <p>Acredito ter sido bem informado sobre o estudo acima.</p>
            <p>Ficaram claros para mim quais são os objetivos do estudo, os procedimentos a serem realizados, seus desconfortos
                e riscos, as garantias de confidencialidade e de esclarecimento permanentes. Ficou claro também que minha
                participação é isenta de despesas e que poderei retirar o meu consentimento a qualquer momento, antes ou
                durante o mesmo, sem penalidades ou prejuízo ou perda de qualquer benefício que eu possa ter adquirido.</p>
        </div>
    </div>
</div>