<br>
<div *ngIf="isStar()">
    <img id="0" src="assets/empty-star.png" class="img-fluid inline-block rating stars" (click)="changeStar(0)" />
    <img id="1" src="assets/empty-star.png" class="img-fluid inline-block rating stars" (click)="changeStar(1)" />
    <img id="2" src="assets/empty-star.png" class="img-fluid inline-block rating stars" (click)="changeStar(2)" />
    <img id="3" src="assets/empty-star.png" class="img-fluid inline-block rating stars" (click)="changeStar(3)" />
    <img id="4" src="assets/empty-star.png" class="img-fluid inline-block rating stars" (click)="changeStar(4)" />
</div>
<div *ngIf="isThumbs()">
    <img id="up" src="assets/up-desactivate.png" class="img-fluid inline-block rating thumbs" (click)="changeThumb('up')" />
    <img id="down" src="assets/down-desactivate.png" class="img-fluid inline-block rating thumbs thumbDownSpacing" (click)="changeThumb('down')" />
</div>