.thumbDownSpacing {
    margin-top: 45px;
    margin-left: 45px;
}

@media screen and (min-width: 770px) {
    .rating {
        max-width: calc(100%/6);
    }
}

@media screen and (max-width: 769px) {
    .thumbs {
        max-width: calc(100%/7);
    }

    .stars {
        max-width: calc(100%/12);
    }
}