<!-- header -->
<nav class="navbar navbar-dark bg-dark mb-2">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Vote Filme</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Início</a>
            <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contato</a>
            <a class="nav-item nav-link" routerLink="/terms" routerLinkActive="active">Termo de consentimento</a>
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://github.com/rponciano/rating-research" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        </div>
    </div>
</nav>
<!-- content -->
<router-outlet></router-outlet>
<!-- footer -->
<br><br>
<footer class="footer bg-dark fixed-bottom">
    <div class="container text-center text-white">
        2018 <i class="fa fa-copyright"></i> <a class="text-white" href="https://github.com/rponciano"> Rômulo Ponciano</a>
    </div>
</footer>