<form>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <mat-form-field class="input-email">
                    <input aria-describedby="emailHelp" matInput name="email" placeholder="Email" [formControl]="inputEmail">
                    <mat-error *ngIf="inputEmail.hasError('email') && !inputEmail.hasError('required')">Por favor, insira um email válido.</mat-error>
                    <mat-error *ngIf="inputEmail.hasError('required')">Insira um email para continuar.</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <mat-checkbox (click)="toggleTerms()">
                    Li e aceito os <a routerLink="/terms" routerLinkActive="active">termos de consentimento.</a>
                </mat-checkbox>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Como você avalia este filme?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <app-movie></app-movie>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <app-rating></app-rating>
            </div>
        </div>
    </div>
</form>