<form>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <mat-form-field class="input-email">
                    <input aria-describedby="emailHelp" matInput name="email" placeholder="Email" [(ngModel)]="inputEmail" required>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <mat-checkbox name="terms" [(ngModel)]="termsAccepted">
                    Li e aceito o <a routerLink="/terms" routerLinkActive="active">termo de consentimento.</a>
                </mat-checkbox>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Como você avalia este filme?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <app-movie 
                    (emitterRating)="receiveRating($event)" 
                    (emitterRatingType)="receiveRatingType($event)"
                    (emitterFinish)="finish($event)"
                    [email]="inputEmail" [terms]="termsAccepted"
                ></app-movie>
            </div>
        </div>
    </div>
</form>