<img id="0" src="assets/empty-star.png" class="img-fluid inline-block rating" (click)="changeStar(0)" />
<img id="1" src="assets/empty-star.png" class="img-fluid inline-block rating" (click)="changeStar(1)" />
<img id="2" src="assets/empty-star.png" class="img-fluid inline-block rating" (click)="changeStar(2)" />
<img id="3" src="assets/empty-star.png" class="img-fluid inline-block rating" (click)="changeStar(3)" />
<img id="4" src="assets/empty-star.png" class="img-fluid inline-block rating" (click)="changeStar(4)" />

